.topNamMain {
  display: flex;
  padding: 0px 32px 0px 0px;
  box-sizing: border-box;
  gap: 32px;
  border-bottom: 1px solid #cccfdc;
  width: 100%;
}

.logoInfra {
  /* width: 80%; */
  border-right: 1px solid var(--infra-neutral-100, #cccfdc);
  padding: 24px 0px;
  /* width: 14%; */
  width: 200px;
  box-sizing: border-box;
}

.logoInfra svg {
  width: fit-content;
  margin: auto;
  display: block;
}

.topbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.logoSearch {
  display: flex;
  gap: 16px;
  width: 312px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 1px solid var(--infra-neutral-100, #cccfdc);
  align-items: center;
}

.logoSearch input {
  display: flex;
  align-items: center;
  border: none;
  flex: 1;
  color: var(--infra-neutral-100, #cccfdc);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.notif {
  display: flex;
  gap: 24px;
}
.notfBox {
  border-radius: 50%;
  background: #f4f7ff;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDetail {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user h2 {
  color: var(--infra-neutral-900, #272a3c);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user p {
  color: var(--infra-neutral-500, #7c7f8c);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
