.inputComp > input{
    border-radius: 8px;
    border: 0.5px solid #A4A7B4;
    background:#F4F7FF;
    margin-top: 8px;
    padding: 16px;
    width: 92%;
}
.inputComp > label{
    color: #9093A0;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
}
.inputComp{
    width: 100%;
}