.pageTwo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 64px;
}

.strategicPlan {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.strategicPlan h2 {
  color: #47b65c;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 70%;
  padding-bottom: 4px;
  border-bottom: 1px solid #227cbf;
}

.strategicPlan input {
  border: none;
  color: #47b65c;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 70%;
}

.strategicPlan p {
  color: #272727;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 17.5px */
}

.strategicPlan textarea {
  border: none;
  width: 100%;
  height: 70px;
}

.currentPort {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.currentPort > h2 {
  color: #227cbf;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.currentPort > input {
  color: #227cbf;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
}

.currentPort > div {
  display: flex;
  gap: 70px;
  width: 100%;
}

.currentPort > div p {
  width: 42%;
  color: #272727;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 165.5%; /* 23.17px */
}

.currentPort > div textarea {
  width: 42%;
  border: none;
}

.currentPort .currentChart {
  /* flex: 1; */
  width: 40%;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.currentChart > h2 {
  color: #47b65c;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 15px */
}

.keyStatistics {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.keyStatistics div h2,
.keyStatisticsInput {
  color: #227cbf;
  padding-bottom: 4px;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  width: 100%;
}

.smallLine {
  background: linear-gradient(270deg, #47b65c 0%, #227cbf 100%);
  width: 100%;
  height: 2px;
}

.keyTable {
  width: 100%;
  border-left: 1px solid #227cbf;
  border-right: 1px solid #227cbf;
}

.keyTable input {
  border: none;
  background: transparent;
}

.keyTableHeader {
  width: 100%;
  display: flex;
  padding: 8px 10px;
  box-sizing: border-box;
  background: #227cbf;
  align-items: center;
}

.keyTableHeader p,
.keyTableHeader input {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 17.5px */
}

.keyTableHeader p:first-child,
.keyTableSingle p:first-child,
.keyTableHeader input:first-child,
.keyTableSingle input:first-child {
  width: 49%;
}

.keyTableHeader p:nth-child(2),
.keyTableHeader p:nth-child(3),
.keyTableHeader p:nth-child(4),
.keyTableSingle p:nth-child(2),
.keyTableSingle p:nth-child(3),
.keyTableSingle p:nth-child(4),
.keyTableHeader input:nth-child(2),
.keyTableHeader input:nth-child(3),
.keyTableHeader input:nth-child(4),
.keyTableSingle input:nth-child(2),
.keyTableSingle input:nth-child(3),
.keyTableSingle input:nth-child(4) {
  width: 17%;
  text-align: right;
}

.keyTableSingle {
  display: flex;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #227cbf;
}

.keyTableSingle p,
.keyTableSingle input {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 12.5px */
}

.chartPopup {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chartHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chartHeader h2 {
  color: var(--infra-primary-2900, #287750);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chartHeader p {
  color: var(--infra-neutral-600, #686b78);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}

.chartBody {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chartSingle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartSingle > p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
}

.chartItem {
  display: flex;
  gap: 16px;
}

.chartGroup {
  width: 50%;
}

.chartButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.chartButtons button:first-child {
  border-radius: 8px;
  border: 1px solid var(--infra-neutral-100, #cccfdc);
  background: var(--infra-neutral-400, #9093a0);
  padding: 12px 10px;
  box-sizing: border-box;
  width: 140px;
  color: var(--infra-neutral-25, #f4f7ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.chartButtons button:last-child {
  border-radius: 8px;
  border: 1px solid var(--infra-neutral-100, #cccfdc);
  background: var(--infra-secondary-1900, #1d6fa0);
  width: 140px;
  padding: 12px 10px;
  box-sizing: border-box;
  color: var(--infra-neutral-25, #f4f7ff);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
