.pageThirteen {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 318px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header h1 {
  color: #227cbf;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header h2 {
  color: #227cbf;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profitTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
}

.profitHead {
  display: flex;
  width: 100%;
  background: #002d4e;
}

.profitHead p:first-child,
.profitHead input:first-child,
.profitHeader p:first-child,
.profitSingle p:first-child,
.profitSingle input:first-child {
  width: 41%;
  text-align: left;
}

.profitHead p:nth-child(2),
.profitHead p:nth-child(3),
.profitHead p:nth-child(4),
.profitHead p:nth-child(5),
.profitHead p:nth-child(6),
.profitHead input:nth-child(2),
.profitHead input:nth-child(3),
.profitHead input:nth-child(4),
.profitHead input:nth-child(5),
.profitHead input:nth-child(6),
.profitHeader p:nth-child(2),
.profitHeader p:nth-child(3),
.profitHeader p:nth-child(4),
.profitHeader p:nth-child(5),
.profitHeader p:nth-child(6),
.profitSingle p:nth-child(2),
.profitSingle p:nth-child(3),
.profitSingle p:nth-child(4),
.profitSingle p:nth-child(5),
.profitSingle p:nth-child(6),
.profitSingle input:nth-child(2),
.profitSingle input:nth-child(3),
.profitSingle input:nth-child(4),
.profitSingle input:nth-child(5),
.profitSingle input:nth-child(6) {
  width: 11.8%;
}

.profitHead p,
.profitHeader p,
.profitHead input {
  color: #fff;
  background-color: transparent;
  text-align: right;
  padding: 6px 8px;
  box-sizing: border-box;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.profitHeader {
  display: flex;
  width: 100%;
  background: #47b65c;
}

.profitSingle {
  border-bottom: 1px solid #bcbcbc;
  display: flex;
}

.profitSingle p,
.profitSingle input {
  color: #000;
  text-align: right;
  padding: 6px 8px;
  box-sizing: border-box;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.profitSingle p:nth-child(2),
.profitSingle p:nth-child(3),
.profitSingle p:nth-child(4),
.profitSingle p:nth-child(5),
.profitSingle p:nth-child(6),
.profitSingle input:nth-child(2),
.profitSingle input:nth-child(3),
.profitSingle input:nth-child(4),
.profitSingle input:nth-child(5),
.profitSingle input:nth-child(6) {
  border-left: 1px solid #bcbcbc;
}
