.lastPage {
  width: 100%;
  background: linear-gradient(180deg, #47b65c 0%, #227cbf 100%);
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 1215px;
}

.lastPageDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lastPageLogo {
  width: 29%;
}

.lastPageBody {
  width: 38%;
}

.lastPageSingle {
  display: flex;
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
  padding: 8px 10px;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.lastPageSingle p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.5%; /* 24.39px */
  letter-spacing: -1.17px;
}
