.chartPopup {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chartHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chartHeader h2 {
  color: var(--infra-primary-2900, #287750);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chartHeader p {
  color: var(--infra-neutral-600, #686b78);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}

.chartBody {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chartSingle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartSingle > p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
}

.chartItem {
  display: flex;
  gap: 16px;
}

.chartGroup {
  width: 50%;
}

.chartButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.chartButtons button:first-child {
  border-radius: 8px;
  border: 1px solid var(--infra-neutral-100, #cccfdc);
  background: var(--infra-neutral-400, #9093a0);
  padding: 12px 10px;
  box-sizing: border-box;
  width: 140px;
  color: var(--infra-neutral-25, #f4f7ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.chartButtons button:last-child {
  border-radius: 8px;
  border: 1px solid var(--infra-neutral-100, #cccfdc);
  background: var(--infra-secondary-1900, #1d6fa0);
  width: 140px;
  padding: 12px 10px;
  box-sizing: border-box;
  color: var(--infra-neutral-25, #f4f7ff);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
